<section><section id="goals" class="titleslide slide level1"><h1>Goals</h1></section></section>
<section><section id="see-one-do-one-teach-one." class="titleslide slide level1"><h1>See One, Do One, Teach One.</h1></section></section>
<section><section id="ground-rules" class="titleslide slide level1"><h1>Ground Rules</h1></section></section>
<section><section id="assumptions" class="titleslide slide level1"><h1>Assumptions:</h1></section></section>
<section><section id="consessions" class="titleslide slide level1"><h1>Consessions:</h1></section><section><section id="emulation" class="titleslide slide level2"><h1>Emulation</h1></section></section></section>
<section><section id="capstone-one" class="titleslide slide level1"><h1>Capstone One</h1></section></section>
<section><section id="about-ansible" class="titleslide slide level1"><h1>About Ansible</h1></section></section>
<section><section id="systems" class="titleslide slide level1"><h1>5 systems:</h1></section></section>
<section><section id="the-class" class="titleslide slide level1"><h1>The Class</h1></section><section><section id="bootstrap" class="titleslide slide level2"><h1>Bootstrap</h1></section><section id="localhost" class="slide level3">
<h1>localhost</h1>
<ul>
<li>packages</li>
<li>docker.io</li>
<li>openssh-server</li>
<li>ansible</li>
<li>whois</li>
<li>fping</li>
<li>sshpass</li>
<li>traceroute</li>
<li><p>jq</p></li>
<li>The sfuser</li>
<li><p>configuring sudo</p></li>
</ul>
</section><section id="targets" class="slide level3">
<h1>Targets</h1>
<ul>
<li>Emulating real servers using docker</li>
<li>Dockerfile</li>
<li>Default docker IP addresses</li>
<li>Make 5 of them</li>
</ul>
</section><section id="hooking-it-all-up" class="slide level3">
<h1>Hooking it all up</h1>
<ul>
<li>sshpass</li>
<li>Environment variables</li>
<li>The <code>environment</code> script</li>
</ul>
</section></section><section><section id="the-ansible-command" class="titleslide slide level2"><h1>The ansible command</h1></section></section></section>
<section><section id="capstone-two" class="titleslide slide level1"><h1>Capstone Two</h1></section></section>
<section><section id="notes" class="titleslide slide level1"><h1>Notes:</h1></section></section>
